@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  ::-webkit-scrollbar-track {
    background: #020617;
  }

  ::-webkit-scrollbar-thumb {
    background: #1E293B;
    border: 1px solid #020617;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #F4B083;
  }

  .material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 300, 'GRAD' 0, 'opsz' 24;
  }

  body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'GFS Didot', serif;
  }

  /* Enforce no border radius globally */
  * {
    border-radius: 0 !important;
  }
}
